%nav.navbar.navbar-default
  .container
    .navbar-header
      .navbar-brand
        = link_to 'Ban Roulette'
    .nav.navbar-nav.navbar-right
      = button_to("Sign in", { action: 'new' }, class: "btn btn-default navbar-btn")
